ion-toolbar{
  background-color: orangered !important;
  background: orangered !important;
}
.title{
  text-align: center !important; 
  font-weight: bold !important;
  color: white !important;
}
.name-list{
  text-transform: capitalize !important;
  font-weight: bold !important;
}